.home-block-header{
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 450px;
    color: azure;
    display: grid;
  }

  .promo-icon{
    color: darkorange;
  }